[Unit]
Description=kiosk-retropie screen brightness control via MQTT
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/kiosk-retropie/config.env
ExecStart=/usr/local/lib/kiosk-retropie/kiosk-retropie-screen-brightness-mqtt.sh
Restart=on-failure
RestartSec=2

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
